body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #DFDBDB;
  height: 100%;
  width: 100%;
}
html{
 height: 100%;
 width: 100%;
}


@font-face {
  font-family: 'name';
  src: local('name'), url('./fonts/name.ttf') format('truetype');
}